[submodule "hugo-theme-tailwind"]
	path = hugo-theme-tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
